In [1]:
import pandas as pd
import pytae as pt
import seaborn as sns
penguins = sns.load_dataset('penguins')

In [4]:



df = (
    penguins
    # .pipe(pt.group_n,group=['species', 'island', 'sex'],dropna=False)
    .pipe(pt.group_n,dropna=False)
    # .pipe(pt.handle_missing) #NaN in str is replaced with . and in numeric with 0
    # .pipe(pt.clip)

)
#notice that penguins dataset has multiple rows for same group
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,n
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,23
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,24
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,24
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,5
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,24

In [ ]:
df.long(col='features').head() #if value is not provided then default is value

In [ ]:
df.long(col='features',value='measure').head()

In [ ]:
df.long(col='features').wide(col='features').head()
# you will get back original df because penguins has been aggregated in the very beginning.

In [ ]:
# Had it not been the case, we could not get original df back because wide uses pivot_table that would aggregate the results
penguins.long(col='features').wide(col='features')

In [ ]:
df.cols()